.jumbotron {
  padding: 2rem 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
  background-color: $primary-color;
  background: $secondary-color; // $linear-horizontal-reverse-gradient;
  border-bottom: 15px rgba(0, 0, 0, 0.15) dashed;
  border-top: 15px rgba(0, 0, 0, 0.1) dashed;
}
