.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  color: whitesmoke;
  background-color: $primary-color;
  background: linear-gradient(90, $primary-color, $secondary-color 70.71%);
  border-bottom: 15px rgba(0, 0, 0, 0.05) dashed;
  border-top: 15px rgba(0, 0, 0, 0.05) dashed;
}
