body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: rgba(0, 0, 139, 0.8);
}
a:hover {
  background-color: rgb(255, 140, 66);
  padding: 0.25em 1em;
  color: white;
  border-radius: 0.25rem;
}

.fg-primary {
  color: rgb(17, 75, 95);
}

.fg-secondary {
  color: rgb(172, 216, 170);
}

.fg-highlight1 {
  color: rgb(17, 75, 95);
}

.fg-highlight2 {
  color: rgb(255, 140, 66);
}

.fg-highlight3 {
  color: rgb(203, 118, 158);
}

.text-monospace {
  font-family: "Roboto Mono", monospace;
}

.bg-highlight-muted {
  background-color: rgba(17, 75, 95, 0.25);
}

.card-equal-height {
  height: 100%;
}

.jumbotron {
  padding: 2em 1em;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
  background-color: rgb(17, 75, 95);
  border-bottom: 1em rgba(0, 0, 0, 0.2) dashed;
  border-top: 1em rgba(0, 0, 0, 0.15) dashed;
}

.discipline-0 {
  background-color: #251b7f;
}
.discipline-0:hover {
  background-color: #251b7f;
}

.expert-0 {
  background-color: #251b7f;
}
.expert-0:hover {
  background-color: #3b328c;
}

.extensive-0 {
  background-color: #251b7f;
}
.extensive-0:hover {
  background-color: #3b328c;
}

.working-0 {
  background-color: #251b7f;
}
.working-0:hover {
  background-color: #3b328c;
}

.basic-0 {
  background-color: #251b7f;
}
.basic-0:hover {
  background-color: #3b328c;
}

.discipline-0 {
  background-color: #241a7c;
}
.discipline-0:hover {
  background-color: #2f2583;
}

.expert-0 {
  background-color: #3a3189;
}
.expert-0:hover {
  background-color: #504896;
}

.extensive-0 {
  background-color: #453c90;
}
.extensive-0:hover {
  background-color: #5b539d;
}

.working-0 {
  background-color: #504896;
}
.working-0:hover {
  background-color: #665fa3;
}

.basic-0 {
  background-color: #5b539d;
}
.basic-0:hover {
  background-color: #716aaa;
}

.discipline-0 {
  background-color: #241a7a;
}
.discipline-0:hover {
  background-color: #3a3187;
}

.expert-0 {
  background-color: #504895;
}
.expert-0:hover {
  background-color: #665fa2;
}

.extensive-0 {
  background-color: #665fa2;
}
.extensive-0:hover {
  background-color: #7c76af;
}

.working-0 {
  background-color: #7c76af;
}
.working-0:hover {
  background-color: #928dbd;
}

.basic-0 {
  background-color: #928dbd;
}
.basic-0:hover {
  background-color: #a7a3ca;
}

.discipline-1 {
  background-color: #267a0e;
}
.discipline-1:hover {
  background-color: #267a0e;
}

.expert-1 {
  background-color: #267a0e;
}
.expert-1:hover {
  background-color: #3c8726;
}

.extensive-1 {
  background-color: #267a0e;
}
.extensive-1:hover {
  background-color: #3c8726;
}

.working-1 {
  background-color: #267a0e;
}
.working-1:hover {
  background-color: #3c8726;
}

.basic-1 {
  background-color: #267a0e;
}
.basic-1:hover {
  background-color: #3c8726;
}

.discipline-1 {
  background-color: #25780e;
}
.discipline-1:hover {
  background-color: #307f1a;
}

.expert-1 {
  background-color: #3b8626;
}
.expert-1:hover {
  background-color: #51933e;
}

.extensive-1 {
  background-color: #468c32;
}
.extensive-1:hover {
  background-color: #5c9a4a;
}

.working-1 {
  background-color: #51933e;
}
.working-1:hover {
  background-color: #66a156;
}

.basic-1 {
  background-color: #5c9a4a;
}
.basic-1:hover {
  background-color: #71a762;
}

.discipline-1 {
  background-color: #24750d;
}
.discipline-1:hover {
  background-color: #3a8325;
}

.expert-1 {
  background-color: #50913d;
}
.expert-1:hover {
  background-color: #669e56;
}

.extensive-1 {
  background-color: #669e56;
}
.extensive-1:hover {
  background-color: #7cac6e;
}

.working-1 {
  background-color: #7cac6e;
}
.working-1:hover {
  background-color: #92ba86;
}

.basic-1 {
  background-color: #92ba86;
}
.basic-1:hover {
  background-color: #a7c89e;
}

.discipline-2 {
  background-color: #f44708;
}
.discipline-2:hover {
  background-color: #f44708;
}

.expert-2 {
  background-color: #f44708;
}
.expert-2:hover {
  background-color: #f55921;
}

.extensive-2 {
  background-color: #f44708;
}
.extensive-2:hover {
  background-color: #f55921;
}

.working-2 {
  background-color: #f44708;
}
.working-2:hover {
  background-color: #f55921;
}

.basic-2 {
  background-color: #f44708;
}
.basic-2:hover {
  background-color: #f55921;
}

.discipline-2 {
  background-color: #ef4608;
}
.discipline-2:hover {
  background-color: #f04f14;
}

.expert-2 {
  background-color: #f15921;
}
.expert-2:hover {
  background-color: #f26b39;
}

.extensive-2 {
  background-color: #f1622d;
}
.extensive-2:hover {
  background-color: #f37446;
}

.working-2 {
  background-color: #f26b39;
}
.working-2:hover {
  background-color: #f47e52;
}

.basic-2 {
  background-color: #f37446;
}
.basic-2:hover {
  background-color: #f5875e;
}

.discipline-2 {
  background-color: #ea4408;
}
.discipline-2:hover {
  background-color: #ec5721;
}

.expert-2 {
  background-color: #ee6939;
}
.expert-2:hover {
  background-color: #f07c52;
}

.extensive-2 {
  background-color: #f07c52;
}
.extensive-2:hover {
  background-color: #f28f6b;
}

.working-2 {
  background-color: #f28f6b;
}
.working-2:hover {
  background-color: #f5a284;
}

.basic-2 {
  background-color: #f5a284;
}
.basic-2:hover {
  background-color: #f7b49c;
}

.text-muted {
  color: gray !important;
}/*# sourceMappingURL=styles.css.map */