body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  transition: background-color 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: rgba(0, 0, 139, 0.8);
}
a:hover {
  background-color: rgb(255, 140, 66);
  padding: 0.25em 1em;
  color: white;
  border-radius: 0.25rem;
}

.fg-primary {
  color: rgb(21, 95, 95);
}

.fg-secondary {
  color: rgb(172, 216, 170);
}

.fg-highlight1 {
  color: rgb(17, 75, 95);
}

.fg-highlight2 {
  color: rgb(255, 140, 66);
}

.fg-highlight3 {
  color: rgb(203, 118, 158);
}

.text-monospace {
  font-family: "Roboto Mono", monospace;
}

.bg-highlight-muted {
  background-color: rgba(17, 75, 95, 0.25);
}

.card-equal-height {
  height: 100%;
}

.jumbotron {
  padding: 2em 1em;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
  background-color: rgb(21, 95, 95);
  border-bottom: 1em rgba(0, 0, 0, 0.2) dashed;
  border-top: 1em rgba(0, 0, 0, 0.15) dashed;
}

.discipline-0 {
  background-color: #297070;
}
.discipline-0:hover {
  background-color: #3e7e7e;
}

.expert-0 {
  background-color: #297070;
}
.expert-0:hover {
  background-color: #3e7e7e;
}

.extensive-0 {
  background-color: #297070;
}
.extensive-0:hover {
  background-color: #3e7e7e;
}

.working-0 {
  background-color: #297070;
}
.working-0:hover {
  background-color: #3e7e7e;
}

.basic-0 {
  background-color: #297070;
}
.basic-0:hover {
  background-color: #3e7e7e;
}

.discipline-0 {
  background-color: #297070;
}
.discipline-0:hover {
  background-color: #508a8a;
}

.expert-0 {
  background-color: #3a7b7b;
}
.expert-0:hover {
  background-color: #508a8a;
}

.extensive-0 {
  background-color: #3a7b7b;
}
.extensive-0:hover {
  background-color: #508a8a;
}

.working-0 {
  background-color: #4b8787;
}
.working-0:hover {
  background-color: #619595;
}

.basic-0 {
  background-color: #5c9292;
}
.basic-0:hover {
  background-color: #72a1a1;
}

.discipline-0 {
  background-color: #297070;
}
.discipline-0:hover {
  background-color: #619595;
}

.expert-0 {
  background-color: #4b8787;
}
.expert-0:hover {
  background-color: #619595;
}

.extensive-0 {
  background-color: #4b8787;
}
.extensive-0:hover {
  background-color: #619595;
}

.working-0 {
  background-color: #6d9e9e;
}
.working-0:hover {
  background-color: #83acac;
}

.basic-0 {
  background-color: #90b5b5;
}
.basic-0:hover {
  background-color: #a5c3c3;
}

.discipline-1 {
  background-color: #9A347E;
}
.discipline-1:hover {
  background-color: #a4488b;
}

.expert-1 {
  background-color: #9a347e;
}
.expert-1:hover {
  background-color: #a4488b;
}

.extensive-1 {
  background-color: #9a347e;
}
.extensive-1:hover {
  background-color: #a4488b;
}

.working-1 {
  background-color: #9a347e;
}
.working-1:hover {
  background-color: #a4488b;
}

.basic-1 {
  background-color: #9a347e;
}
.basic-1:hover {
  background-color: #a4488b;
}

.discipline-1 {
  background-color: #9A347E;
}
.discipline-1:hover {
  background-color: #ac5995;
}

.expert-1 {
  background-color: #a24488;
}
.expert-1:hover {
  background-color: #ac5995;
}

.extensive-1 {
  background-color: #a24488;
}
.extensive-1:hover {
  background-color: #ac5995;
}

.working-1 {
  background-color: #aa5493;
}
.working-1:hover {
  background-color: #b469a0;
}

.basic-1 {
  background-color: #b2659d;
}
.basic-1:hover {
  background-color: #bc79aa;
}

.discipline-1 {
  background-color: #9A347E;
}
.discipline-1:hover {
  background-color: #b469a0;
}

.expert-1 {
  background-color: #aa5493;
}
.expert-1:hover {
  background-color: #b469a0;
}

.extensive-1 {
  background-color: #aa5493;
}
.extensive-1:hover {
  background-color: #b469a0;
}

.working-1 {
  background-color: #ba75a7;
}
.working-1:hover {
  background-color: #c489b4;
}

.basic-1 {
  background-color: #ca95bc;
}
.basic-1:hover {
  background-color: #d5aac9;
}

.discipline-2 {
  background-color: #EC8A29;
}
.discipline-2:hover {
  background-color: #ee963e;
}

.expert-2 {
  background-color: #ec8a29;
}
.expert-2:hover {
  background-color: #ee963e;
}

.extensive-2 {
  background-color: #ec8a29;
}
.extensive-2:hover {
  background-color: #ee963e;
}

.working-2 {
  background-color: #ec8a29;
}
.working-2:hover {
  background-color: #ee963e;
}

.basic-2 {
  background-color: #ec8a29;
}
.basic-2:hover {
  background-color: #ee963e;
}

.discipline-2 {
  background-color: #EC8A29;
}
.discipline-2:hover {
  background-color: #ef9f50;
}

.expert-2 {
  background-color: #ee933a;
}
.expert-2:hover {
  background-color: #ef9f50;
}

.extensive-2 {
  background-color: #ee933a;
}
.extensive-2:hover {
  background-color: #ef9f50;
}

.working-2 {
  background-color: #ef9d4b;
}
.working-2:hover {
  background-color: #f1a861;
}

.basic-2 {
  background-color: #f1a65c;
}
.basic-2:hover {
  background-color: #f2b272;
}

.discipline-2 {
  background-color: #EC8A29;
}
.discipline-2:hover {
  background-color: #f1a861;
}

.expert-2 {
  background-color: #ef9d4b;
}
.expert-2:hover {
  background-color: #f1a861;
}

.extensive-2 {
  background-color: #ef9d4b;
}
.extensive-2:hover {
  background-color: #f1a861;
}

.working-2 {
  background-color: #f2af6d;
}
.working-2:hover {
  background-color: #f4bb83;
}

.basic-2 {
  background-color: #f5c290;
}
.basic-2:hover {
  background-color: #f7cea5;
}

.discipline-3 {
  background-color: #880000;
}
.discipline-3:hover {
  background-color: #941a1a;
}

.expert-3 {
  background-color: #880000;
}
.expert-3:hover {
  background-color: #941a1a;
}

.extensive-3 {
  background-color: #880000;
}
.extensive-3:hover {
  background-color: #941a1a;
}

.working-3 {
  background-color: #880000;
}
.working-3:hover {
  background-color: #941a1a;
}

.basic-3 {
  background-color: #880000;
}
.basic-3:hover {
  background-color: #941a1a;
}

.discipline-3 {
  background-color: #880000;
}
.discipline-3:hover {
  background-color: #9d2e2e;
}

.expert-3 {
  background-color: #921414;
}
.expert-3:hover {
  background-color: #9d2e2e;
}

.extensive-3 {
  background-color: #921414;
}
.extensive-3:hover {
  background-color: #9d2e2e;
}

.working-3 {
  background-color: #9b2929;
}
.working-3:hover {
  background-color: #a74242;
}

.basic-3 {
  background-color: #a53d3d;
}
.basic-3:hover {
  background-color: #b05757;
}

.discipline-3 {
  background-color: #880000;
}
.discipline-3:hover {
  background-color: #a74242;
}

.expert-3 {
  background-color: #9b2929;
}
.expert-3:hover {
  background-color: #a74242;
}

.extensive-3 {
  background-color: #9b2929;
}
.extensive-3:hover {
  background-color: #a74242;
}

.working-3 {
  background-color: #ae5252;
}
.working-3:hover {
  background-color: #ba6b6b;
}

.basic-3 {
  background-color: #c17a7a;
}
.basic-3:hover {
  background-color: #cd9494;
}

.text-muted {
  color: gray !important;
}

/*# sourceMappingURL=styles.css.map */
