// Alternate Colors
// general page colors - cards, etc.
$primary-color: #7f197e;
$secondary-color: #6106a6;
$highlight1-color: #8109dd;
$highlight1-muted-color: #aa988e;

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #7f197e;
$frontend-base-color: #337357;
$platform-base-color: #FFB30F;
$build-base-color: #3F88C5;
$tools-base-color: #666666;

$banner-text-color: white;
