@use "springColors" as colors;
// @use "summerColors" as colors;
// @use "fallColors" as colors;
// @use "winterColors" as colors;

.card-container {
  background-color: colors.$highlight1-muted-color;
  border: 1px dotted grey;
  border-radius: 0.5rem;
}