.certification-container {
  outline: 1px dotted grey;
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background-color: whitesmoke;
}

.certification-name {
  font-weight: bold;
  text-transform: uppercase;
}
