li {
  text-indent: -2rem;
  padding-left: 2em; /* Indent for the rest of the lines */
}

/* CERTIFICATIONS */
.certification-name {
  font-weight: bold;
  text-transform: uppercase;
}

/* HEADER */
.synopsis-statement {
  background: linear-gradient(lightgrey, white);
  color: #333;
}