.discipline-container {
  display: flex;
}

.discipline-inner-container {
  border-top: 1px dotted grey;
  border-right: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: whitesmoke;
}

.vertical {
  flex: 1;
  writing-mode: vertical-rl;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 3rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.skills-container {
  flex-flow: wrap;
}

.courses-container {
  flex-flow: wrap;
}

$percentage: 60%;

.vertical-tab-0 {
  background: linear-gradient($backend-base-color, mix(#FFF, $backend-base-color, $percentage));
}
.vertical-tab-1 {
  background: linear-gradient($frontend-base-color, mix(#FFF, $frontend-base-color, $percentage))
}
.vertical-tab-2 {
  background: linear-gradient($platform-base-color, mix(#FFF, $platform-base-color, $percentage))
}
.vertical-tab-3 {
  background: linear-gradient($build-base-color, mix(#FFF, $build-base-color, $percentage))
}