@use "sass:color";
@use "winterColors";

.discipline-container {
  display: flex;
}

.discipline-inner-container {
  border-top: 1px dotted grey;
  border-right: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: whitesmoke;
  width: 100%;
}

.vertical {
  flex: 1;
  writing-mode: vertical-rl;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 3rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

$percentage: 60%;
.vertical-tab-0 {
  background: linear-gradient(winterColors.$backend-base-color, color.mix(#FFF, winterColors.$backend-base-color, $percentage));
}
.vertical-tab-1 {
  background: linear-gradient(winterColors.$frontend-base-color, color.mix(#FFF, winterColors.$frontend-base-color, $percentage))
}
.vertical-tab-2 {
  background: linear-gradient(winterColors.$platform-base-color, color.mix(#FFF, winterColors.$platform-base-color, $percentage))
}
.vertical-tab-3 {
  background: linear-gradient(winterColors.$build-base-color, color.mix(#FFF, winterColors.$build-base-color, $percentage))
}
.vertical-tab-4 {
  background: linear-gradient(winterColors.$tools-base-color, color.mix(#FFF, winterColors.$tools-base-color, $percentage))
}