// FALL Colors
// general page colors - cards, etc.
$primary-color: #476a26; // rgb(21, 95, 95);
$secondary-color: #76b041; // #add8ab; // rgb(172, 216, 170);
$highlight1-color: #104b5e; // rgb(17, 75, 95);
$highlight1-muted-color: #a3b791;
$highlight2-color: #ff8c42; // rgb(255, 140, 66)
$highlight3-color: #cb769e; // rgb(203, 118, 158)

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #e4572e; // #3D0F3B; //#140D4F
$frontend-base-color: #17bebb; // #005236; #B0228C
$platform-base-color: #e3b10c; // #0D3185;
$build-base-color: #76b041;
