// FALL Colors
// general page colors - cards, etc.
$primary-color: #A63C06;
$secondary-color: #6106a6;
$highlight1-color: #8109dd;
$highlight1-muted-color: #a77b64;

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #710000;
$frontend-base-color: #146b06;
$platform-base-color: #9e7b09;
$build-base-color: #040d88;
