body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  transition: background-color 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: $link-color;
  padding: 0.25rem;

  &:hover {
    background-color: $highlight2-color;
    color: $link-hover-color;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
}

.text-monospace {
  font-family: 'Roboto Mono', monospace;
}

.card-equal-height {
  height: 100%;
}

footer {
  background: linear-gradient(white, lightgray);
}