.jumbotron {
  padding: $banner-padding;
  font-weight: $banner-font-weight;
  color: $banner-text-color;
  background: linear-gradient($primary-color, mix(#FFF, $primary-color, 40%));
}

.synopsis-statement {
  background: linear-gradient(lightgrey, white);
  color: #333;
}