@use "variables";
@use "winterColors";

@use "sass:color";

.jumbotron {
  padding: variables.$banner-padding;
  font-weight: variables.$banner-font-weight;
  color: winterColors.$banner-text-color;
  background: radial-gradient(circle at center, winterColors.$primary-color 0, color.mix(#FFF, winterColors.$primary-color, 40%) 100%);
}

.synopsis-statement {
  background: linear-gradient(lightgrey, white);
  color: #333;
}