@use "variables";
@use "springColors" as colors;
// @use "summerColors" as colors;
// @use "fallolors" as colors;
// @use "winterColors" as colors;

@use "sass:color";

.jumbotron {
  padding: variables.$banner-padding;
  font-weight: variables.$banner-font-weight;
  color: colors.$banner-text-color;
  background: radial-gradient(circle at center, colors.$primary-color 0, color.mix(#FFF, colors.$primary-color, 40%) 100%);
}

.synopsis-statement {
  background: linear-gradient(lightgrey, white);
  color: #333;
}