@mixin gradient($r, $g, $b) {
  background: linear-gradient(rgb($r, $g, $b), rgba($r, $g, $b, 0.8), rgb($r, $g, $b));
}

// $disciplinetypes
// Backend = 0
// FrontEnd = 1
// Process = 2
@mixin shades-per-discipline-proficiency ( $count, $startcolor, $disciplinetype ) {
  @for $i from 0 through $count {
      $background-color: mix(black, $startcolor, $i + $i);
      
      .discipline-#{$disciplinetype} {
          background-color: $background-color;
          
          &:hover {
            background-color: mix(white, $background-color, $i * 5);
          }
      }
      .expert-#{$disciplinetype} {
          background-color: mix(white, $background-color, $i * 10);
          
          &:hover {
            background-color: mix(white, $background-color, $i * 10 + 10);
          }
      }
      .extensive-#{$disciplinetype} {
          background-color: mix(white, $background-color, $i * 15);
          
          &:hover {
            background-color: mix(white, $background-color, $i * 15 + 10);
          }
      }
      .working-#{$disciplinetype} {
          background-color: mix(white, $background-color, $i * 20);
          
          &:hover {
            background-color: mix(white, $background-color, $i * 20 + 10);
          }
      }
      .basic-#{$disciplinetype} {
          background-color: mix(white, $background-color, $i * 25);
          
          &:hover {
            background-color: mix(white, $background-color, $i * 25 + 10);
          }
      }
  }
}