@use "sass:math";
@use "sass:color";

@mixin gradient($r, $g, $b) {
  background: linear-gradient(rgb($r, $g, $b), rgba($r, $g, $b, 0.8), rgb($r, $g, $b));
}

// Discipline  darkest
// Expert      dark
// Extensive   medium
// Working     light
// Basic       lightest
// $count = number of shades
// $startColor = starting color for producing other shades
// $disciplineType = maps to DisciplineType enumeration
@mixin shades-per-discipline-proficiency ($count, $startColor, $disciplineType ) {
  @for $i from 0 through $count {
    $background-color: $startColor;

    $multiplier: 8;
    $hover-incrementer: 10;

    .discipline-#{$disciplineType} {
      background-color: $background-color;

      &:hover {
        background-color: color.mix(white, $background-color, math.percentage(math.div($i * $multiplier + $hover-incrementer,100)));
      }
    }

    .expert-#{$disciplineType} {
      background-color: color.mix(white, $background-color, math.percentage(math.div($i * $multiplier, 100)));

      &:hover {
        background-color: color.mix(white, $background-color, math.percentage(math.div($i * $multiplier + $hover-incrementer, 100)));
      }
    }

    .extensive-#{$disciplineType} {
      background-color: color.mix(white, $background-color, math.percentage(math.div($i * (1 * $multiplier), 100)));

      &:hover {
        background-color: color.mix(white, $background-color, math.percentage(math.div($i * (1 * $multiplier) + $hover-incrementer, 100)));
      }
    }

    .working-#{$disciplineType} {
      background-color: color.mix(white, $background-color, math.percentage(math.div($i * (2 * $multiplier), 100)));

      &:hover {
        background-color: color.mix(white, $background-color, math.percentage(math.div($i * (2 * $multiplier) + $hover-incrementer, 100)));
      }
    }

    .basic-#{$disciplineType} {
      background-color: color.mix(white, $background-color, math.percentage(math.div($i * (3 * $multiplier), 100)));

      &:hover {
        background-color: color.mix(white, $background-color, math.percentage(math.div($i * (3 * $multiplier) + $hover-incrementer, 100)));
      }
    }
  }
}
