@mixin gradient($r, $g, $b) {
  background: linear-gradient(rgb($r, $g, $b), rgba($r, $g, $b, 0.8), rgb($r, $g, $b));
}

// Discipline  darkest
// Expert      dark
// Extensive   medium
// Working     light
// Basic       lightest
// $count = number of shades
// $startcolor = starting color for producing other shades
// $disciplinetype = maps to DisciplineType enumeration
@mixin shades-per-discipline-proficiency ($count, $startcolor, $disciplinetype ) {
  @for $i from 0 through $count {
    $background-color: $startcolor;

    $multiplier: 8;
    $hover-incrementer: 10;

    .discipline-#{$disciplinetype} {
      background-color: $background-color;

      &:hover {
        background-color: mix(white, $background-color, $i * $multiplier + $hover-incrementer);
      }
    }

    .expert-#{$disciplinetype} {
      background-color: mix(white, $background-color, $i * $multiplier);

      &:hover {
        background-color: mix(white, $background-color, $i * $multiplier + $hover-incrementer);
      }
    }

    .extensive-#{$disciplinetype} {
      background-color: mix(white, $background-color, $i * (1 * $multiplier));

      &:hover {
        background-color: mix(white, $background-color, $i * (1 * $multiplier) + $hover-incrementer);
      }
    }

    .working-#{$disciplinetype} {
      background-color: mix(white, $background-color, $i * (2 * $multiplier));

      &:hover {
        background-color: mix(white, $background-color, $i * (2 * $multiplier) + $hover-incrementer);
      }
    }

    .basic-#{$disciplinetype} {
      background-color: mix(white, $background-color, $i * (3 * $multiplier));

      &:hover {
        background-color: mix(white, $background-color, $i * (3 * $multiplier) + $hover-incrementer);
      }
    }
  }
}
