// SPRING Color palette
@use "sass:color";

$primary-color: #ed997d;
$secondary-color: color.mix($primary-color, #fff, 20%);
$highlight1-color: color.mix($primary-color, #fff, 40%);
$highlight1-muted-color: color.mix($primary-color, #fff, 60%);

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #bc218e;
$frontend-base-color: #83CC66;
$platform-base-color: #dec641;
$build-base-color: #128FC5;
$tools-base-color: #666666;

$banner-text-color: #333;
