// SPRING Colors
// general page colors - cards, etc.
$primary-color: #155f5f;
$secondary-color: #acd8aa;
$highlight1-color: #114b5f;
$highlight1-muted-color: #a3b791;
$highlight2-color: #ff8c42;
$highlight3-color: #cb769e;

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #3d0f3b; //#140D4F
$frontend-base-color: #005236; //#B0228C
$platform-base-color: #0d3185;
$build-base-color: #76b041;
