// SPRING Colors
// general page colors - cards, etc.
$primary-color: #7C7287;
$secondary-color: #acd8aa;
$highlight1-color: #7C7287;
$highlight1-muted-color: #c0b9c7;

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #B6D094;
$frontend-base-color: #0EB1D2;
$platform-base-color: #7C7287;
$build-base-color: #EAAC8B;
