// SPRING Colors
// general page colors - cards, etc.
$primary-color: #7C7287;
$secondary-color: #acd8aa;
$highlight1-color: #7C7287;
$highlight1-muted-color: #c0b9c7;

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #ed986a;
$frontend-base-color: #B6D094;
$platform-base-color: #9c8d3c;
$build-base-color: #348e9f;
$tools-base-color: #666666;

$banner-text-color: white;
