// SUMMER Colors
// general page colors - cards, etc.
$primary-color: #e3b10c;
$secondary-color: #e2d095;
$highlight1-color: #e4e2da;
$highlight1-muted-color: #e4e2da;

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #e4572e;
$frontend-base-color: #17bebb;
$platform-base-color: #e3b10c;
$build-base-color: #76b041;
$tools-base-color: #666666;

$banner-text-color: #333;
