// @use "paletteSpring" as palette;
// @use "paletteSummer" as palette;
// @use "paletteFall" as palette;
@use "paletteWinter" as palette;

// link hover colors and footer text color
$highlight2-color: #ff8800;
$highlight3-color: #cb769e;

$link-color: rgba(0, 0, 139, 0.8);
$link-hover-color: white;

$linear-horizontal-gradient: linear-gradient(to right, palette.$primary-color, palette.$secondary-color);
$linear-horizontal-reverse-gradient: linear-gradient(to right, palette.$primary-color 0 5%, palette.$secondary-color 5% 95%, palette.$primary-color 95% 100%);
$linear-vertical-gradient: linear-gradient(to bottom, palette.$primary-color, palette.$secondary-color);

$banner-top-border: 1em rgba(0, 0, 0, 0.15) dashed;
$banner-bottom-border: 1em rgba(0, 0, 0, 0.20) dashed;
$banner-padding: 2em 1em;
$banner-font-weight: 700;