$primary-color: rgb(17, 75, 95);
$secondary-color:  rgb(172, 216, 170);
$highlight1-color: rgb(17, 75, 95);
$highlight1-muted-color: rgba(17, 75, 95, 0.25);
$highlight2-color: rgb(255, 140, 66);
$highlight3-color: rgb(203, 118, 158);

$link-color: rgba(0, 0, 139, 0.8);
$link-hover-color: white;

$linear-horizontal-gradient: linear-gradient(to right, $primary-color, $secondary-color);
$linear-horizontal-reverse-gradient: linear-gradient(to right, $primary-color 0 5%, $secondary-color 5% 95%, $primary-color 95% 100%);
$linear-vertical-gradient: linear-gradient(to bottom, $primary-color, $secondary-color);

$banner-text-color: white;
$banner-top-border: 1em rgba(0, 0, 0, 0.15) dashed;
$banner-bottom-border: 1em rgba(0, 0, 0, 0.20) dashed;
$banner-padding: 2em 1em;
$banner-font-weight: 700;
$banner-margin-bottom: 2rem;

$backend-base-color: #140D4F; // #3D0F3B;
$frontend-base-color: #688E26; // #005236;
$process-base-color: #F44708; // #0D3185;
