// WINTER Colors
// general page colors - cards, etc.
$primary-color: #49475B;
$secondary-color: #104b5e;
$highlight1-color: #104b5e;
$highlight1-muted-color: #b9c7c8;

// used for disciplines - consumed in _proficiency.scss
$backend-base-color: #799496;
$frontend-base-color: #49475B;
$platform-base-color: #934B00;
$build-base-color: #14080E;
