body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: rgba(0, 0, 139, 0.8);
}
a:hover {
  background-color: rgb(255, 140, 66);
  padding: 0.25em 1em;
  color: white;
  border-radius: 0.25rem;
}

.fg-primary {
  color: rgb(17, 75, 95);
}

.fg-secondary {
  color: rgb(203, 118, 158);
}

.fg-highlight1 {
  color: rgb(172, 216, 170);
}

.fg-highlight2 {
  color: rgb(255, 140, 66);
}

.fg-highlight3 {
  color: rgb(203, 118, 158);
}

.text-monospace {
  font-family: "Roboto Mono", monospace;
}

.bg-highlight-muted {
  background-color: rgba(172, 216, 170, 0.25);
}

.card-equal-height {
  height: 100%;
}

.jumbotron {
  padding: 2em 1em;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
  background-color: rgb(17, 75, 95);
  border-bottom: 15px rgba(0, 0, 0, 0.15) dashed;
  border-top: 15px rgba(0, 0, 0, 0.1) dashed;
}

.discipline-0 {
  background-color: #3d0f3b;
}
.discipline-0:hover {
  background-color: #3d0f3b;
}

.expert-0 {
  background-color: #3d0f3b;
}
.expert-0:hover {
  background-color: #50274f;
}

.extensive-0 {
  background-color: #3d0f3b;
}
.extensive-0:hover {
  background-color: #50274f;
}

.working-0 {
  background-color: #3d0f3b;
}
.working-0:hover {
  background-color: #50274f;
}

.basic-0 {
  background-color: #3d0f3b;
}
.basic-0:hover {
  background-color: #50274f;
}

.discipline-0 {
  background-color: #3c0f3a;
}
.discipline-0:hover {
  background-color: #50274e;
}

.expert-0 {
  background-color: #593358;
}
.expert-0:hover {
  background-color: #6d4b6b;
}

.extensive-0 {
  background-color: #633f61;
}
.extensive-0:hover {
  background-color: #775775;
}

.working-0 {
  background-color: #6d4b6b;
}
.working-0:hover {
  background-color: #80637f;
}

.basic-0 {
  background-color: #775775;
}
.basic-0:hover {
  background-color: #8a6f89;
}

.discipline-0 {
  background-color: #3b0e39;
}
.discipline-0:hover {
  background-color: #623e61;
}

.expert-0 {
  background-color: #765674;
}
.expert-0:hover {
  background-color: #896e88;
}

.extensive-0 {
  background-color: #896e88;
}
.extensive-0:hover {
  background-color: #9d879c;
}

.working-0 {
  background-color: #9d879c;
}
.working-0:hover {
  background-color: #b19fb0;
}

.basic-0 {
  background-color: #b19fb0;
}
.basic-0:hover {
  background-color: #c4b7c4;
}

.discipline-1 {
  background-color: #005236;
}
.discipline-1:hover {
  background-color: #005236;
}

.expert-1 {
  background-color: #005236;
}
.expert-1:hover {
  background-color: #1a634a;
}

.extensive-1 {
  background-color: #005236;
}
.extensive-1:hover {
  background-color: #1a634a;
}

.working-1 {
  background-color: #005236;
}
.working-1:hover {
  background-color: #1a634a;
}

.basic-1 {
  background-color: #005236;
}
.basic-1:hover {
  background-color: #1a634a;
}

.discipline-1 {
  background-color: #005035;
}
.discipline-1:hover {
  background-color: #1a6249;
}

.expert-1 {
  background-color: #266a53;
}
.expert-1:hover {
  background-color: #407c68;
}

.extensive-1 {
  background-color: #33735d;
}
.extensive-1:hover {
  background-color: #4d8572;
}

.working-1 {
  background-color: #407c68;
}
.working-1:hover {
  background-color: #598d7c;
}

.basic-1 {
  background-color: #4d8572;
}
.basic-1:hover {
  background-color: #669686;
}

.discipline-1 {
  background-color: #004f34;
}
.discipline-1:hover {
  background-color: #33725d;
}

.expert-1 {
  background-color: #4d8471;
}
.expert-1:hover {
  background-color: #669585;
}

.extensive-1 {
  background-color: #669585;
}
.extensive-1:hover {
  background-color: #80a79a;
}

.working-1 {
  background-color: #80a79a;
}
.working-1:hover {
  background-color: #99b9ae;
}

.basic-1 {
  background-color: #99b9ae;
}
.basic-1:hover {
  background-color: #b3cac2;
}

.discipline-2 {
  background-color: #0d3185;
}
.discipline-2:hover {
  background-color: #0d3185;
}

.expert-2 {
  background-color: #0d3185;
}
.expert-2:hover {
  background-color: #254691;
}

.extensive-2 {
  background-color: #0d3185;
}
.extensive-2:hover {
  background-color: #254691;
}

.working-2 {
  background-color: #0d3185;
}
.working-2:hover {
  background-color: #254691;
}

.basic-2 {
  background-color: #0d3185;
}
.basic-2:hover {
  background-color: #254691;
}

.discipline-2 {
  background-color: #0d3082;
}
.discipline-2:hover {
  background-color: #25458f;
}

.expert-2 {
  background-color: #314f95;
}
.expert-2:hover {
  background-color: #4a64a1;
}

.extensive-2 {
  background-color: #3d599b;
}
.extensive-2:hover {
  background-color: #566ea8;
}

.working-2 {
  background-color: #4a64a1;
}
.working-2:hover {
  background-color: #6278ae;
}

.basic-2 {
  background-color: #566ea8;
}
.basic-2:hover {
  background-color: #6e83b4;
}

.discipline-2 {
  background-color: #0c2f80;
}
.discipline-2:hover {
  background-color: #3d5999;
}

.expert-2 {
  background-color: #556da6;
}
.expert-2:hover {
  background-color: #6d82b3;
}

.extensive-2 {
  background-color: #6d82b3;
}
.extensive-2:hover {
  background-color: #8697c0;
}

.working-2 {
  background-color: #8697c0;
}
.working-2:hover {
  background-color: #9eaccc;
}

.basic-2 {
  background-color: #9eaccc;
}
.basic-2:hover {
  background-color: #b6c1d9;
}

.text-muted {
  color: gray !important;
}/*# sourceMappingURL=styles.css.map */