body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  transition: background-color 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: rgba(0, 0, 139, 0.8);
  padding: 0.25rem;
}
a:hover {
  background-color: #ff8800;
  color: white;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.text-monospace {
  font-family: "Roboto Mono", monospace;
}

.card-equal-height {
  height: 100%;
}

footer {
  background: linear-gradient(white, lightgray);
}

.skill-outline {
  outline: 1px solid lightgrey;
}

li {
  text-indent: -2rem;
  padding-left: 2em; /* Indent for the rest of the lines */
}

/* CERTIFICATIONS */
.certification-name {
  font-weight: bold;
  text-transform: uppercase;
}

/* HEADER */
.synopsis-statement {
  background: linear-gradient(lightgrey, white);
  color: #333;
}

/* BACKGROUNDS */
.section-container {
  background-color: rgb(240, 239.8, 241.8);
}

.bordered-container {
  outline: 1px solid rgb(135, 133.4, 149.4);
  border-radius: 0.5rem;
}

/* DISCIPLINES */
.vertical-tab-0 {
  background: linear-gradient(#6B0504, rgb(195.8, 155, 154.6));
}

.vertical-tab-1 {
  background: linear-gradient(#607744, rgb(191.4, 200.6, 180.2));
}

.vertical-tab-2 {
  background: linear-gradient(#ca8401, rgb(233.8, 205.8, 153.4));
}

.vertical-tab-3 {
  background: linear-gradient(#356883, rgb(174.2, 194.6, 205.4));
}

.vertical-tab-4 {
  background: linear-gradient(#666666, rgb(193.8, 193.8, 193.8));
}

.discipline-container {
  display: flex;
}

.discipline-inner-container {
  border-top: 1px dotted rgb(135, 133.4, 149.4);
  border-right: 1px dotted rgb(135, 133.4, 149.4);
  border-bottom: 1px dotted rgb(135, 133.4, 149.4);
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
}

.vertical {
  flex: 1;
  writing-mode: vertical-rl;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 3rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* PROFICIENCY */
.discipline-0 {
  background-color: #6B0504;
}
.discipline-0:hover {
  background-color: rgb(121.8, 30, 29.1);
}

.expert-0 {
  background-color: #6b0504;
}
.expert-0:hover {
  background-color: rgb(121.8, 30, 29.1);
}

.extensive-0 {
  background-color: #6b0504;
}
.extensive-0:hover {
  background-color: rgb(121.8, 30, 29.1);
}

.working-0 {
  background-color: #6b0504;
}
.working-0:hover {
  background-color: rgb(121.8, 30, 29.1);
}

.basic-0 {
  background-color: #6b0504;
}
.basic-0:hover {
  background-color: rgb(121.8, 30, 29.1);
}

.discipline-0 {
  background-color: #6B0504;
}
.discipline-0:hover {
  background-color: rgb(133.64, 50, 49.18);
}

.expert-0 {
  background-color: rgb(118.84, 25, 24.08);
}
.expert-0:hover {
  background-color: rgb(133.64, 50, 49.18);
}

.extensive-0 {
  background-color: rgb(118.84, 25, 24.08);
}
.extensive-0:hover {
  background-color: rgb(133.64, 50, 49.18);
}

.working-0 {
  background-color: rgb(130.68, 45, 44.16);
}
.working-0:hover {
  background-color: rgb(145.48, 70, 69.26);
}

.basic-0 {
  background-color: rgb(142.52, 65, 64.24);
}
.basic-0:hover {
  background-color: rgb(157.32, 90, 89.34);
}

.discipline-0 {
  background-color: #6B0504;
}
.discipline-0:hover {
  background-color: rgb(145.48, 70, 69.26);
}

.expert-0 {
  background-color: rgb(130.68, 45, 44.16);
}
.expert-0:hover {
  background-color: rgb(145.48, 70, 69.26);
}

.extensive-0 {
  background-color: rgb(130.68, 45, 44.16);
}
.extensive-0:hover {
  background-color: rgb(145.48, 70, 69.26);
}

.working-0 {
  background-color: rgb(154.36, 85, 84.32);
}
.working-0:hover {
  background-color: rgb(169.16, 110, 109.42);
}

.basic-0 {
  background-color: rgb(178.04, 125, 124.48);
}
.basic-0:hover {
  background-color: rgb(192.84, 150, 149.58);
}

.discipline-1 {
  background-color: #607744;
}
.discipline-1:hover {
  background-color: rgb(111.9, 132.6, 86.7);
}

.expert-1 {
  background-color: #607744;
}
.expert-1:hover {
  background-color: rgb(111.9, 132.6, 86.7);
}

.extensive-1 {
  background-color: #607744;
}
.extensive-1:hover {
  background-color: rgb(111.9, 132.6, 86.7);
}

.working-1 {
  background-color: #607744;
}
.working-1:hover {
  background-color: rgb(111.9, 132.6, 86.7);
}

.basic-1 {
  background-color: #607744;
}
.basic-1:hover {
  background-color: rgb(111.9, 132.6, 86.7);
}

.discipline-1 {
  background-color: #607744;
}
.discipline-1:hover {
  background-color: rgb(124.62, 143.48, 101.66);
}

.expert-1 {
  background-color: rgb(108.72, 129.88, 82.96);
}
.expert-1:hover {
  background-color: rgb(124.62, 143.48, 101.66);
}

.extensive-1 {
  background-color: rgb(108.72, 129.88, 82.96);
}
.extensive-1:hover {
  background-color: rgb(124.62, 143.48, 101.66);
}

.working-1 {
  background-color: rgb(121.44, 140.76, 97.92);
}
.working-1:hover {
  background-color: rgb(137.34, 154.36, 116.62);
}

.basic-1 {
  background-color: rgb(134.16, 151.64, 112.88);
}
.basic-1:hover {
  background-color: rgb(150.06, 165.24, 131.58);
}

.discipline-1 {
  background-color: #607744;
}
.discipline-1:hover {
  background-color: rgb(137.34, 154.36, 116.62);
}

.expert-1 {
  background-color: rgb(121.44, 140.76, 97.92);
}
.expert-1:hover {
  background-color: rgb(137.34, 154.36, 116.62);
}

.extensive-1 {
  background-color: rgb(121.44, 140.76, 97.92);
}
.extensive-1:hover {
  background-color: rgb(137.34, 154.36, 116.62);
}

.working-1 {
  background-color: rgb(146.88, 162.52, 127.84);
}
.working-1:hover {
  background-color: rgb(162.78, 176.12, 146.54);
}

.basic-1 {
  background-color: rgb(172.32, 184.28, 157.76);
}
.basic-1:hover {
  background-color: rgb(188.22, 197.88, 176.46);
}

.discipline-2 {
  background-color: #ca8401;
}
.discipline-2:hover {
  background-color: rgb(207.3, 144.3, 26.4);
}

.expert-2 {
  background-color: #ca8401;
}
.expert-2:hover {
  background-color: rgb(207.3, 144.3, 26.4);
}

.extensive-2 {
  background-color: #ca8401;
}
.extensive-2:hover {
  background-color: rgb(207.3, 144.3, 26.4);
}

.working-2 {
  background-color: #ca8401;
}
.working-2:hover {
  background-color: rgb(207.3, 144.3, 26.4);
}

.basic-2 {
  background-color: #ca8401;
}
.basic-2:hover {
  background-color: rgb(207.3, 144.3, 26.4);
}

.discipline-2 {
  background-color: #ca8401;
}
.discipline-2:hover {
  background-color: rgb(211.54, 154.14, 46.72);
}

.expert-2 {
  background-color: rgb(206.24, 141.84, 21.32);
}
.expert-2:hover {
  background-color: rgb(211.54, 154.14, 46.72);
}

.extensive-2 {
  background-color: rgb(206.24, 141.84, 21.32);
}
.extensive-2:hover {
  background-color: rgb(211.54, 154.14, 46.72);
}

.working-2 {
  background-color: rgb(210.48, 151.68, 41.64);
}
.working-2:hover {
  background-color: rgb(215.78, 163.98, 67.04);
}

.basic-2 {
  background-color: rgb(214.72, 161.52, 61.96);
}
.basic-2:hover {
  background-color: rgb(220.02, 173.82, 87.36);
}

.discipline-2 {
  background-color: #ca8401;
}
.discipline-2:hover {
  background-color: rgb(215.78, 163.98, 67.04);
}

.expert-2 {
  background-color: rgb(210.48, 151.68, 41.64);
}
.expert-2:hover {
  background-color: rgb(215.78, 163.98, 67.04);
}

.extensive-2 {
  background-color: rgb(210.48, 151.68, 41.64);
}
.extensive-2:hover {
  background-color: rgb(215.78, 163.98, 67.04);
}

.working-2 {
  background-color: rgb(218.96, 171.36, 82.28);
}
.working-2:hover {
  background-color: rgb(224.26, 183.66, 107.68);
}

.basic-2 {
  background-color: rgb(227.44, 191.04, 122.92);
}
.basic-2:hover {
  background-color: rgb(232.74, 203.34, 148.32);
}

.discipline-3 {
  background-color: #356883;
}
.discipline-3:hover {
  background-color: rgb(73.2, 119.1, 143.4);
}

.expert-3 {
  background-color: #356883;
}
.expert-3:hover {
  background-color: rgb(73.2, 119.1, 143.4);
}

.extensive-3 {
  background-color: #356883;
}
.extensive-3:hover {
  background-color: rgb(73.2, 119.1, 143.4);
}

.working-3 {
  background-color: #356883;
}
.working-3:hover {
  background-color: rgb(73.2, 119.1, 143.4);
}

.basic-3 {
  background-color: #356883;
}
.basic-3:hover {
  background-color: rgb(73.2, 119.1, 143.4);
}

.discipline-3 {
  background-color: #356883;
}
.discipline-3:hover {
  background-color: rgb(89.36, 131.18, 153.32);
}

.expert-3 {
  background-color: rgb(69.16, 116.08, 140.92);
}
.expert-3:hover {
  background-color: rgb(89.36, 131.18, 153.32);
}

.extensive-3 {
  background-color: rgb(69.16, 116.08, 140.92);
}
.extensive-3:hover {
  background-color: rgb(89.36, 131.18, 153.32);
}

.working-3 {
  background-color: rgb(85.32, 128.16, 150.84);
}
.working-3:hover {
  background-color: rgb(105.52, 143.26, 163.24);
}

.basic-3 {
  background-color: rgb(101.48, 140.24, 160.76);
}
.basic-3:hover {
  background-color: rgb(121.68, 155.34, 173.16);
}

.discipline-3 {
  background-color: #356883;
}
.discipline-3:hover {
  background-color: rgb(105.52, 143.26, 163.24);
}

.expert-3 {
  background-color: rgb(85.32, 128.16, 150.84);
}
.expert-3:hover {
  background-color: rgb(105.52, 143.26, 163.24);
}

.extensive-3 {
  background-color: rgb(85.32, 128.16, 150.84);
}
.extensive-3:hover {
  background-color: rgb(105.52, 143.26, 163.24);
}

.working-3 {
  background-color: rgb(117.64, 152.32, 170.68);
}
.working-3:hover {
  background-color: rgb(137.84, 167.42, 183.08);
}

.basic-3 {
  background-color: rgb(149.96, 176.48, 190.52);
}
.basic-3:hover {
  background-color: rgb(170.16, 191.58, 202.92);
}

.discipline-4 {
  background-color: #666666;
}
.discipline-4:hover {
  background-color: rgb(117.3, 117.3, 117.3);
}

.expert-4 {
  background-color: #666666;
}
.expert-4:hover {
  background-color: rgb(117.3, 117.3, 117.3);
}

.extensive-4 {
  background-color: #666666;
}
.extensive-4:hover {
  background-color: rgb(117.3, 117.3, 117.3);
}

.working-4 {
  background-color: #666666;
}
.working-4:hover {
  background-color: rgb(117.3, 117.3, 117.3);
}

.basic-4 {
  background-color: #666666;
}
.basic-4:hover {
  background-color: rgb(117.3, 117.3, 117.3);
}

.discipline-4 {
  background-color: #666666;
}
.discipline-4:hover {
  background-color: rgb(129.54, 129.54, 129.54);
}

.expert-4 {
  background-color: rgb(114.24, 114.24, 114.24);
}
.expert-4:hover {
  background-color: rgb(129.54, 129.54, 129.54);
}

.extensive-4 {
  background-color: rgb(114.24, 114.24, 114.24);
}
.extensive-4:hover {
  background-color: rgb(129.54, 129.54, 129.54);
}

.working-4 {
  background-color: rgb(126.48, 126.48, 126.48);
}
.working-4:hover {
  background-color: rgb(141.78, 141.78, 141.78);
}

.basic-4 {
  background-color: rgb(138.72, 138.72, 138.72);
}
.basic-4:hover {
  background-color: rgb(154.02, 154.02, 154.02);
}

.discipline-4 {
  background-color: #666666;
}
.discipline-4:hover {
  background-color: rgb(141.78, 141.78, 141.78);
}

.expert-4 {
  background-color: rgb(126.48, 126.48, 126.48);
}
.expert-4:hover {
  background-color: rgb(141.78, 141.78, 141.78);
}

.extensive-4 {
  background-color: rgb(126.48, 126.48, 126.48);
}
.extensive-4:hover {
  background-color: rgb(141.78, 141.78, 141.78);
}

.working-4 {
  background-color: rgb(150.96, 150.96, 150.96);
}
.working-4:hover {
  background-color: rgb(166.26, 166.26, 166.26);
}

.basic-4 {
  background-color: rgb(175.44, 175.44, 175.44);
}
.basic-4:hover {
  background-color: rgb(190.74, 190.74, 190.74);
}

/* BANNER / HEADER */
.jumbotron {
  padding: 2em 1em;
  font-weight: 700;
  color: white;
  background: radial-gradient(circle at center, #69677B 0, rgb(165, 163.8, 175.8) 100%);
}

.text-muted {
  color: lightgray !important;
}

/*# sourceMappingURL=styles.css.map */
